beautifulsoup4==4.12.3
diff-match-patch==20230430
et_xmlfile==2.0.0
html-diff==0.4.1
lxml==6.0.2
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.3.4
openpyxl==3.1.5
pandas==2.3.3
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2025.2
rich==13.9.4
six==1.17.0
soupsieve==2.6
tzdata==2025.2
